.multiRange-date{
    .ant-picker.ant-picker-range {
        border: none !important;
    }
}
.ant-picker{
    border:none !important;
    background-color: red;
    color:red;
}
.multiRange{
    border: none;
}
.button-custom{
    background-color: #30CEC2 !important;
    border: none;
    height: 34px;
}