.multiRange-date{
    .ant-picker.ant-picker-range {
        border: none !important;
    }
}
.ant-picker{
    border:none !important;
    background-color: red;
    color:red;
}
.multiRange{
    border: none;
}