@media only screen and (max-width: 992px) and (min-width: 576px) {
  .staff-filter {
    margin-top: -25px !important;
  }
}
@media only screen and (max-width: 1367px) and (min-width: 993px) {
  .staff-filter {
    margin-top: -15px !important;
    margin-left: -10px !important;
  }
}

.select-with-icon {
  :global .ant-select {
    :global .ant-select-selector {
      span.ant-select-selection-placeholder {
        padding-left: 0px;
      }
    }
  }
}
