.modal-custom {
  :global .ant-modal-body {
    padding: 20px 22px !important;
  }
}
.custom-button {
  background-color: #1a82fe !important;
  color: white !important;
}
.custom-button-green {
  background-color: #30cec2 !important;
  border: none !important;
  color: white !important;
}

.notesModalForm {
  color: red;
}
