.clr-black {
  color: black;
}

.staff-select-enable {
  :global .ant-select-selector {
    background-color: #e2f8f7 !important;
    color: green !important;
    border: 2px solid #e2f8f7 !important;
  }
  :global .ant-select {
    width: 180px !important;
  }
}

.staff-select-disable {
  :global .ant-select-selector {
    background-color: #f3c3c7e3 !important;
    color: red !important;
    border: 2px solid #f3c3c7e3 !important;
  }
  :global .ant-select {
    width: 180px !important;
  }
}

.staff-wrapper {
  :global .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: none !important;
  }
}

@media screen and (min-width: 360px) and (max-width: 576px) {
  .staff-select-disable {
    :global .ant-select-selector {
      background-color: #f3c3c7e3 !important;
      color: red !important;
      border: 2px solid #f3c3c7e3 !important;
    }
    :global .ant-select {
      width: 213px !important;
    }
  }
  .staff-select-enable {
    :global .ant-select-selector {
      background-color: #e2f8f7 !important;
      color: green !important;
      border: 2px solid #e2f8f7 !important;
    }
    :global .ant-select {
      width: 213px !important;
    }
  }
}
