.doctorProfileCard {
    background-color: #f6f8fa;
    :global .ant-collapse {
        font-family: Circular Std;
        background-color: #fff;
        border: none;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.07);
        border-radius: 6px;        
        .ant-collapse-item {
            .ant-collapse-header {
                background-color: #fff;
                border-radius: 10px;
                position: relative;
                .ant-collapse-arrow {
                    position: absolute;
                    right: 0px;
                    top: 17px;
                }
                .ant-collapse-available {
                    color: #30cec2;
                    padding-left: 20px;
                    position: relative;
                    &:before {
                        content: "";
                        position: absolute;
                        top: 6px;
                        left: 0px;
                        width: 10px;
                        height: 10px;
                        border-radius: 50px;
                        background-color: #30cec2;
                    }
                }
                .ant-collapse-time {
                    padding-right: 20px;
                }
            }
            .ant-collapse-content {
                border-top: none;
                .ant-collapse-time-body {
                    span {
                        display: block;
                    }
                }
            }
        }
    }
    :global .ant-btn {
        &.highlighted-button {
            width: 60px;
            padding: 0px !important;
            transition: width 0.5s;
            justify-content: flex-start;
            white-space: nowrap;
            .hidden {
                display: none;
                padding-left: 50px;
            }
            &:hover {
                width: 185px;
                color: #fff;
                background-color: #1a82fe !important;
                .hidden {
                    display: block;
                }
            }
            &.highlighted-button-headphone {
                background: url(../../../../public/assets/icon/support.svg);
                background-repeat: no-repeat;
                background-position-x: 17px;
                background-position-y: 12px;
                &:hover {
                    background-image: url(../../../../public/assets/icon/support-hover.svg);
                }
            }
            &.highlighted-button-message {
                background: url(../../../../public/assets/icon/chat-bubble.svg);
                background-repeat: no-repeat;
                background-position-x: 20px;
                background-position-y: 15px;
                &:hover {
                    background-image: url(../../../../public/assets/icon/chat-bubble-hover.svg);
                }
            }
        }
        &.button-phy {
            &:hover {
                width: 205px;
            }
        }
    }
    @media screen and (min-width:0px) and  (max-width:640px){
        :global .ant-btn {
            width: 100%;
            &.highlighted-button {
                width: 100%;
                transition: inherit;
                .hidden {
                    display: block;
                }
                &:hover {
                    width: 100%;
                    transition: inherit;
                }
            }
        }    
    }
}

.steps-style {
    :global .ant-steps {
        justify-content: center;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        .ant-steps-item {
            padding-left: 8px;
            flex: inherit;
            &.ant-steps-item-active {
                .ant-steps-item-container {
                    .ant-steps-item-icon {
                        background-color: #1A82FE;
                    }
                }
            }
            .ant-steps-item-container {
                .ant-steps-item-icon {
                    width: 9px;
                    height: 9px;
                    margin: 0px;
                    background-color: #D1DEF0;
                    border: none;
                    .ant-steps-icon {
                        display: none;
                    }
                }
                .ant-steps-item-content {
                    display: none;
                }
            }
       }
    }
    :global .steps-content {
        .mb-0 {
            margin-bottom: 0px !important;
        }
    }
    :global .steps-action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .ant-btn-link {
            display: flex !important;
            align-items: center;
            border: none;
            padding: 0px !important;       
        }
    }
}
.btn-next {
    color: #fff !important;
    border-color: #1a82fe !important;
    background: #1A82FE !important; 
    margin-left: auto;
    margin-bottom: 30px;
    height: 48px !important;
}