.appointment-card {
    font-family: Circular Std;
    background-color: #f6f8fa;
    border: none !important;
    .card-btn {
        font-size: 14px !important;
        padding: 0px 10px !important;
        height: 35px !important;
        line-height: 35px !important;
    
    }
    // .btn-transparent{
    //     background-color: transparent !important;
    // }   
}


