.appointment-card {
  font-family: Circular Std;
  background-color: #f6f8fa;
  border: none !important;
  max-width: 326px !important;
  .card-btn {
    font-size: 14px !important;
    padding: 0px 10px !important;
    height: 35px !important;
    line-height: 35px !important;
  }
  // .btn-transparent{
  //     background-color: transparent !important;
  // }
  :global .ant-card-body {
    min-width: 330px !important;
  }

  .appointments-btn-message {
    font-size: 14px !important;
    padding: 0 4px !important;
    font-weight: 600 !important;
    // height: 38px !important;
  }
}
