.questionnary-css {
  :global .ant-form-item {
    .ant-form-item-label {
      padding-bottom: 0;
    }

    .ant-form-item-control {
      .ant-form-item-control-input {
        .ant-form-item-control-input-content {
          input.ant-input {
            color: #1a82fe !important;
          }
        }
      }
    }
  }
}
.disabled-class {
  input {
    border: none !important;
    color: black !important;
  }

  :global .ant-radio-checked {
    ::after {
      border: 1px solid #30cec2 !important;
      background-color: #30cec2 !important;
    }
    .ant-radio-inner {
      border-color: #30cec2 !important;
    }
  }
  :global .ant-checkbox-checked {
    .ant-checkbox-inner {
      border: 1px solid white !important;
      :after {
        color: white !important;
        border: 1px solid white !important;
      }
    }
  }
  :global
    .ant-checkbox-disabled.ant-checkbox-checked
    .ant-checkbox-inner::after {
    border-color: white !important;
  }
  .ant-form-item-control {
    .ant-form-item-control-input {
      .ant-form-item-control-input-content {
        input.ant-input {
          color: #1a82fe !important;
        }
      }
    }
  }
}
.btn-border {
  border: none !important;
  border: 0.5px solid #1a82fe !important;
}
