.appointments-btn {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  .for-msg-icon-width {
    span {
      width: 15px;
    }
  }
}

.appointments-rebook-btn {
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
}
