.radio-div {
  padding: 6px 15px;
  border-radius: 10px;
  color: black;
  margin-right: 0;
}
.icon-color {
  color: #1a82fe;
  font-size: 16px;
  margin-bottom: 4px;
  padding: 0px 10px;
}
.button-color {
  background-color: #1a82fe !important;
  color: white !important;
}
.custom-width {
  :global .ant-select-selector {
    min-width: 130px !important;
  }
}
.payment-form{
 h6{
   word-spacing: -5px !important;
 } 
}