.payout_report {
	:global .ant-collapse-header {
		font-weight: 600 !important;
	}
  :global .ant-collapse-item-active{
    font-weight: 300 !important;
  }
 :global .ant-collapse > .ant-collapse-item > .ant-collapse-header{
    font-weight: 500 !important;
    color: #272B4C !important;
    background-color:  white !important;

  }
}
