.page-filters {
    :global .ant-picker-range {
        position: absolute;
        z-index: -1;
    }
    :global .ant-btn {
        color: #9295af;
        padding: 0px !important;
        border: 1px solid #9295af;
        .anticon {
            display: block;
        }
        :global .date-btn {
            border: 1px solid #9295af !important;
        }
    }
}
.btn-clear {
    border: none !important;
    .text-gray-1 {
        margin-top: 1px !important;
    }
    &:hover, &:focus {
        background-color: transparent;
    }
}

.placeholderColor{
    :global .ant-select-selection-search{}
}