.placeholderColor {
  :global .ant-select-selector {
    .ant-select-selection-item {
      color: #9295af !important;
      font-weight: 400 !important;
    }
    .ant-select-selection-placeholder {
      font-weight: 400 !important ;
    }
  }
}
