@import "./../../node_modules/antd/dist/antd.less";

// font size

@font-size-base: 15px;

@page-header-back-color: #FFFFFF;

// button styles

@primary-color: #1a82fe;

@btn-default-color: #1a82fe;
@btn-default-border: #1a82fe;
@btn-height-base: 3rem;
@btn-padding-horizontal-base: 2.9rem;
@border-radius-base: 0.4rem;

@primary-color-active: none;
@primary-color-outline: none;


// tabs

@tabs-highlight-color: #272B4C;

// tags

@tag-line-height: 2.4rem;
@tag-font-size: 0.9rem;

// radio

@radio-dot-color: #30cec2;

// checkbox

@checkbox-color: #30cec2;
@checkbox-border-radius: 2px;

//alert

@alert-success-bg-color: #30cec2;
@alert-success-border-color: #30cec2;

@alert-info-border-color: #1a82fe;
@alert-info-bg-color: #1a82fe;

@alert-warning-border-color: #ffaf02;
@alert-warning-bg-color: #ffaf02;

@alert-error-border-color: #d53e4f;
@alert-error-bg-color: #d53e4f;

@alert-message-color: #fff;

// form input
@input-height-base: 48px;
@label-required-color: #9295af;
@label-color: #9295af;
@input-border-color: #9295af;

@input-hover-border-color: #9295af;

@input-placeholder-color: #9295af;

// dropdown

@select-dropdown-vertical-padding: 12px;
@select-dropdown-font-size: 16px;

@select-border-color: #9295af;

// font family

@font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";



