@import "./../../node_modules/antd/dist/antd.less";

// font size

@font-size-base: 16px;

// button styles

@primary-color: #1a82fe;

@btn-default-color: #1a82fe;
@btn-default-border: #1a82fe;
@btn-height-base: 3.2rem;
@btn-padding-horizontal-base: 2.9rem;
@border-radius-base: 0.4rem;

@primary-color-active: none;
@primary-color-outline: none;

// tags

@tag-line-height: 2.4rem;
@tag-font-size: 0.9rem;

// radio

@radio-dot-color: #30cec2;

// checkbox

@checkbox-color: #30cec2;

// font family

@font-family: "Rubik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
  "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
