$primary: #1a82fe;
$secondary: #272b4c;
$grey: #9295af;
$white: #ffffff;
$light-blue: #ebf3ff;
$yellow: #ffaf02;
$red: #d53e4f;
$dark-grey: #8f95a7;
$cyan: #30cec2;
$brown: #707070;
$light-grey: #cfcccc;
