.message-input {
  background-color: #f6f8fa;
  :global .ant-input {
    border-radius: inherit !important;
    border: none !important;
    background-color: #f6f8fa;
    width: calc(100% - 78px);
    &:focus {
      box-shadow: none !important;
    }
  }
  ::-webkit-input-placeholder {
    color: #9295af !important;
  }
  .attachment-upload-btn {
    background: #e7e9ed;
    border: 1px solid #e7e9ed;
    height: 45px;
    :global .ant-upload.ant-upload-btn {
      padding: 0;
      padding-top: 10px;
    }
    // &:hover {
    //   border-color: transparent !important;
    // }
  }
}
