.page-filters {
  .ant-space-item {
    border: 1px solid #9295af !important;
  }
  .ant-btn {
    border: 1px solid #9295af !important;
  }
  .dropdown {
    border: 1px solid #9295af !important;
  }
}
